@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i,900,900i&display=swap');
@import './components/Scss/bootstrap_custom';

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #eeeeee;
}
hr
{
  color: black;
}
.footer
{
  background-color: #e4e4e4;
}
a
{
  font-size: 15px;
}
span
{
  color: red;
}
